.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 30%;
}

.joinInput {
  padding: 15px 20px;
  width: 100%;
  border-radius: 5px red;
}

.join .heading {
  font-size: 2.5em;
  padding-bottom: 10px;
  color: orange !important;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  background-image: linear-gradient(270deg, #e6e1a1, orange) !important;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.input-border {
  padding: 1px;
  position: relative;
}

input-border:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(34, 51, 100), orange) !important;
  border-radius: 5px;
}
